/* used for the upper-right section title */
.section-title
{
    background-color:#b0e0e6;
    padding: 10px;
    box-shadow: 3px 3px 5px #888;
    color:#336666;
    font-size: 14pt;
    font-family: Signika-semi-bold;
    font-size: 1.8em;
}

body
{
background-image:url('../img/white3.gif');
background-repeat:repeat;
}

.right-hand
{
    position:absolute;
    right:0px;
    width:30%;
    display:inline;
    margin:10px;
}

.post-date
{
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
    color:#bbbbbb;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:0px;
}
.post-content
{
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    margin-top:10px;
}
.post-tags
{
    /*float:left;*/
    font-family: 'Open Sans', sans-serif;
    font-size:0.8em;
    color:#bbbbbb;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:0px;
}

.weblog-content
{
    position:relative;
    width:70%;
    /*font-family: 'Vollkorn', serif;*/
    font-family: 'Open Sans', sans-serif;
}

.weblog-toc
{
    font-family: 'Open Sans', sans-serif;
}

.dotted-hr {
  border-top: 1px dotted #336666;
  color: #336666;
  background-color: #fff;
  height: 1px;
}

@font-face {
    font-family: Signika-semi-bold;
    src: url('../fonts/Signika-Semibold.ttf');
}

.post-title
{
    font-family: 'Open Sans', sans-serif;
    font-size:2em;
    color:#5a5a5a;
    border-bottom: 1px dashed #888;
}

h1
{
    font-family: 'Open Sans', sans-serif;
}
h2
{
    font-family: 'Open Sans', sans-serif;
}
h3
{
    font-family: 'Open Sans', sans-serif;
}
h4
{
    font-family: 'Open Sans', sans-serif;
}