{% load static %}

<link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}" />
<script src="{% static 'jquery-ui/ui/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'own/js/contraptions.js' %}" type="text/javascript"></script>
<script src="{% static 'epiceditor/js/epiceditor.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery/waypoints.js' %}" type="text/javascript"></script>

<br>
<br>
<div class="right-hand">
    <p class="section-title"> Contraptions </p>
    Stuff I do.
    {% include 'authenticate.html' %}
</div>


<!-- view a contraption -->
<div class="weblog-content">
    <a href="{% url 'section_contraptions_view' %}?id={{ contraption.source.id }}" class="post-title">
        {{ contraption.title }}
    </a>
    {% if request.session.authenticated %}
        | <a href="{% url 'contraption_page_add' %}?contraptionid={{ contraption.source.id }}">
           <img src="{% static 'own/img/plus.png'%}"> Add page
        </a>
    {% endif %}
    <br/>
    <span class="lighter-title">{{ contraption.pages | length }} page(s) | last modified {{ contraption.source.last_modified }}</span>

    <br />  <br />
    {{ contraption.description }}

    {% for p in contraption.pages %}
        <div class="highlight">
            <a name="{{ p.source.id }}"></a>
            <h4 class="page-title">
                <a href="#" onclick="togglePageVisibility(event, '{{ p.source.id }}' ); return false; "
                      id="plusminus_{{ p.source.id }}"
                      name="plusminus_{{ p.source.id }}"
                      style="cursor:hand;">+</a>
                <a
                        id="anchor{{ p.source.id }}"
                        name="anchor{{ p.source.id }}"
                        href="#{{ p.source.id }}"
                        onclick="togglePageVisibility(event, '{{ p.source.id }}' ); return false;"

                        >{{ p.title }}</a>
            {% if request.session.authenticated %}
                &nbsp;
                <a href="{% url 'contraption_page_edit' %}?contraptionid={{ contraption.source.id }}&pageid={{ p.source.id }}" ><img src="{% static 'own/img/edit-icon.png' %}"/></a>
                <a href="#" onclick="deletePage('{{ contraption.source.id }}', '{{ p.source.id }}'); return false;"><img src="{% static 'own/img/trash.png' %}" /></a>
            {% endif %}
            </h4>
            <div class="page-content" id="page_content_{{ p.source.id }}" name="page_content_{{ p.source.id }}"
                    style="display:none;">
                {{ p.content }}
            </div>
        </div>
    {% endfor %}

<div id="epiceditor"></div>


<div id="dialog-confirm" title="Delete this item?">
  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<br/><br/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = APP_SETTINGS.disquus_shortname; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


</div>

