<br>
<br>
<div class="right-hand">
    <p class="section-title"> Contact </p>
</div>
<p>
    Reach me at tbardici[at]gmail[dot]com
    <br/>
    <br/>
    <br/>
    Social:
    <ul>
        <li>Find me on <a href="https://www.facebook.com/teodor.bardici">Facebook</a></li>
        <li><a href="https://plus.google.com/u/0/115193882320422672957/posts">...or Google+</a></li>
        <li>Follow me on <a href="https://twitter.com/capuchinu">Twitter</a></li>
        <li>... or you can check out my <a href="http://lnkd.in/bcP8EYd">Linkedin profile</a>, with the Résumé and all.</li>
    </ul>
    <!--
    <br/>
    Lazy person, use this form below:
    -->
</p>