<!DOCTYPE HTML>

<html>

{% load static %}
<script src="{% static 'bootstrap-3.0.0/assets/js/jquery.js' %}"></script>
<script src="{% static 'bootstrap-3.0.0/dist/js/bootstrap.min.js'%}"></script>

{% include 'header.html' %}

<body>

<div class="container">

<div class="header">
{% include 'navbar.html' %}
</div>
<br />

{% if section == 'weblog' %}
    {% include 'weblog.html' %}
{% elif section == 'contraptions' %}
    {% include 'contraptions.html' %}
{% elif section == 'contraption_view' %}
    {% include 'contraption_view.html' %}
{% elif section == 'contact' %}
    {% include 'contact.html' %}
{% elif section == 'links' %}
    {% include 'links.html' %}
{% endif %}
    


</div>

</body>
</html>
