<br>
<br>
<div class="right-hand">
    <p class="section-title"> Links </p>
    Just bookmarks.
    {% include 'authenticate.html' %}
</div>

{% load static %}

<div class="weblog-main-area">

    {% if request.session.authenticated %}

        <form action="/section/links/addlink/" method="post">
            {% csrf_token %}
            <input type="text" name="link" />
            <input type="submit" value="Add" />
        </form>
    {% endif %}

    <table width="70%">
    <tr>
        <td>---</td>
        <td>&nbsp;</td>
    </tr>

    {% for entry in links %}
    <tr>
        <td class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"  style="padding: 3px;width: 100%">
            <div style="">
                <a href="{{entry.url}}" target="_blank">{{ entry.url }}</a>
            </div>
            <div style="font-size: 7pt; color: #999999">
                {{ entry.date }}
            </div>
        </td>
    <td class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    {% if request.session.authenticated %}
        <a href="/links/delete/?id={{ entry.id }}">
            <img src="{% static 'own/img/trash.png' %}"/>
        </a>
    {% endif %}
    </td>

    </tr>
    {% endfor %}
</table>
</div>