<br>
<br>
<div class="right-hand">
    <p class="section-title"> Links </p>
    Just bookmarks.
    {% include 'authenticate.html' %}
</div>

{% load static %}

<link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}" />
<script src="{% static 'jquery-ui/ui/jquery-ui.js' %}" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function(){
       $("#dialog").dialog({
           autoOpen: false,
           modal: true
       });



        /*
        $(".confirmLink").click(function(e){
            e.preventDefault();
            var targetUrl = $(this).attr("href");
            $("#dialog").dialog({
                buttons: {
                    "confirm": function() {
                        window.location.href = targetUrl;
                    },
                    "cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog").dialog("open");
        });

        */
    });



    function confirm(targetUrl){
        //e.preventDefault();

        $("#dialog").dialog({
            buttons: {
                "confirm": function() {
                    window.location.href = targetUrl;
                },
                "cancel": function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog").dialog("open");
    }

</script>

<div class="weblog-main-area">

    {% if request.session.authenticated %}

        <form action="{% url 'section_links_addlink' %}" method="post">
            {% csrf_token %}
            <input type="text" name="link" />
            <input type="submit" value="Add" />
        </form>
    {% endif %}

    <table width="70%">
    <tr>
        <td>---</td>
        <td>&nbsp;</td>
    </tr>

    {% for entry in links %}
    <tr>
        <td class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"  style="padding: 3px;width: 100%">
            <div style="">
                <a class="confirmLink" href="{{entry.url}}" target="_blank">{{ entry.url }}</a>
            </div>
            <div style="font-size: 7pt; color: #999999">
                {{ entry.date }}
            </div>
        </td>
    <td class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    {% if request.session.authenticated %}
        <a href="#" onclick="confirm('delete/?id={{ entry.id }}'); return false;">
            <img src="{% static 'own/img/trash.png' %}"/>
        </a>
    {% endif %}
    </td>

    </tr>
    {% endfor %}
</table>
</div>

<div id="dialog" title="Delete this link?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        The link will be permanently deleted.
    </p>
</div>